body {
  padding: 50px 0;
  margin: 0;
  color: #fff;
  font-weight: 300;
  background: #000;
  font-family:calibri;
}

#gameWindow {
 background: #000;
  color: #fff;
  padding:5px;
  width: 640px;
  height: 480px;
  margin-left:auto;
  margin-right:auto;
}

.wrapper {
  width: 840px;
  margin: 0 auto;
  background: #555150;
}

header, section, footer {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

header {
  position: relative;
  padding: 15px 20px;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
}

section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #aaa;
  position: relative;
}

#gameWindow {
  border: 1px solid #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

h1 {
  font-size: 28px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 0px;
}

footer {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    width: 100%;
  }

  footer {
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
}
@media print, screen and (max-width:580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}
@media print {
  header p.view a small:before {
    content: 'at https://github.com/';
  }
}
