body {
  padding: 50px 0;
  margin: 0;
  color: #fff;
  font-weight: 300;
  background: #000;
  font-family:calibri;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  background: #555150;
}

#gameWindow {
 background: #000;
  color: #fff;
  padding:5px;
  width: 640px;
  height: 480px;
}

#gameWindowContainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

section {
  padding: 15px 20px;
  border-top: 1px solid #aaa;
  position: relative;
}

#gameWindow {
  border: 1px solid #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 0px;
}
