body {
  padding: 50px 0;
  margin: 0;
  color: #fff;
  font-weight: 300;
  background: #000;
  font-family:calibri;
}

#gameWindow {
 background: #000;
  color: #fff;
  padding:5px;
  height:480px;
}

.wrapper {
  width: 840px;
  margin: 0 auto;
  background: #6C7989;
}

header, section, footer {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  margin: 0 0 20px;
  padding: 0;
}

strong {
  color: #000;
  font-weight: 700;
}

header {
  background: #6C7989;
  position: relative;
  padding: 15px 20px;
  border-bottom: 1px solid #B2D2E1;
}
header h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
}
header.without-description h1 {
  margin: 10px 0;
}
header p {
  margin: 0;
  color: #000;
  width: 300px;
  font-size: 13px;
}
header p.view {
  display: none;
  font-weight: 700;
}
header p.view a {
  color: #000;
}
header p.view small {
  font-weight: 400;
}


section {
  padding: 15px 20px;
  font-size: 15px;
  border-top: 1px solid #fff;
  position: relative;
}

#gameWindow {
  border: 1px solid #000;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  padding: 0;
  margin: 0 0 20px;
  line-height: 1.2;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #fff;
}

h3, h4, h5, h6 {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #aaa;
}

dt {
  color: #222;
  font-weight: 700;
}

th {
  color: #222;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #aaa;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 640px;
  margin: 0 auto;
  padding: 20px 0 0;
  color: #ccc;
  overflow: hidden;
}
footer a {
  color: #fff;
  font-weight: bold;
}
footer p {
  float: left;
}
footer p + p {
  float: right;
}

@media print, screen and (max-width: 740px) {
  body {
    padding: 0;
  }

  .wrapper {
    width: 100%;
  }

  footer {
    padding: 20px;
    width: auto;
  }
  footer p {
    float: none;
    margin: 0;
  }
  footer p + p {
    float: none;
  }
}
@media print, screen and (max-width:580px) {
  header ul {
    display: none;
  }

  header p.view {
    display: block;
  }

  header p {
    width: 100%;
  }
}
@media print {
  header p.view a small:before {
    content: 'at https://github.com/';
  }
}
